* {
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}

header {
}

nav {
  text-align: center;
  padding: 1%;
  letter-spacing: 1px;
}

nav a {
  padding: 5px;
  border-radius: 9%;
  margin-bottom: 4%;
  margin: 5%;
}

.one {
  color: white;
  background-color: #ff764e;
  display: inline-block;
  max-width: 130px;
}

.one:hover {
  color: #ff764e;
  background-color: white;
}

.two {
  color: white;
  background-color: #5ed3eb;
  display: inline-block;
  max-width: 130px;
}

.two:hover {
  color: #5ed3eb;
  background-color: white;
}

.three {
  color: white;
  background-color: #fcd69e;
  display: inline-block;
  max-width: 130px;
}

.three:hover {
  color: #fcd69e;
  background-color: white;
}

.top-section {
  display: inline-block;
  margin: 0 auto;
}

.text {
  display: inline-block;
  text-align: center;
}

.text h1 {
  font-size: 3rem;
  font-family: "Chelsea Market", cursive;
}

.text p {
  width: 50%;
  margin: 0 auto;
}

.top-section img {
  border-radius: 50%;
  margin-left: 100px;
  width: 200px;
  height: 200px;
}

.middle-section {
  width: 90%;
  background-color: #ddb9a3;
  color: white;
  padding: 1%;
  margin: 5%;
  font-weight: bold;
}

.fire-section {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.fire-img {
  width: 30%;
  margin: 5%;
}

.truck-section {
  width: 30%;
  text-align: center;
  margin: 0 auto;
}

.truck-img {
  width: 30%;
  margin: 5%;
}

footer {
  background-color: #f9e7dc;
}

.footer-img {
  object-fit: cover;
  object-position: 100% 30%;
  width: 100%;
  height: 200px;
}
